# Rust
target/
**/*.rs.bk

# cargo-mobile2
.cargo/
/gen/*
!/gen/bin/

# macOS
.DS_Store

animesphere-sync

browser-extension/node_modules

dist_android

dist_portable

dist_windows
*.apk
*.zip
*.png
*.xml
Lampac/
*.idsig
assets/assets/
assets/index.html
assets/shaders/
bin/scrcpy/
bin/mpv-sdk/libmpv-2.dll
debug.keystore
scratch/
browser-extension/dist/